@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent-color-01: #225FE1 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: white;
}

b {
    color: #225FE1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300svh;
    background-color: #05080F;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    z-index: -2;
}

.background__blurs {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100svh;
}

.background__blurs__circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.7;
}

.background__blurs__circle--1 {
    width: 3000px;
    height: 3000px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 65, 128, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%);
    top: -2000px;
    left: -1500px;
}

.background__blurs__circle--2 {
    width: 3000px;
    height: 3000px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(46, 0, 184, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%);
    bottom: -2000px;
    right: -1500px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 0 4px 0;
    font-weight: 700;
    line-height: 1.0;
}

.logo__title {
}

.logo__subtitle {
    color: #AAAAAA;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #00000030;
    border-radius: 25px;
    box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.20);
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
main {
    width: 100%;
}

.welcome_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 180px 0 180px;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.welcome_card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    line-height: 1.0;
}

.title__name {
    font-size: 64px;
    font-weight: 700;
}

.title__location {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    padding-left: 3px;
    color: var(--accent-color-01);
}

.welcome_card__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: auto;
}

.vertical_line {
    display: flex;
    width: 6px;
    height: 24px;
    background-color: var(--accent-color-01);
    border-radius: 3px;
}




